@import "base";

em {
  font-style: normal;
  background-color: #F8F7AE;
}

li {
  padding: 0.5em 0;
}

a.status {
  color: #AFAFAF;
  padding: 0 0.5em;
}

a.status.active {
  color: #44D04F;
}

span.color {
  display: inline-block;
  width: 20px;
  height: 20px;
}