/* ---------- Mixins ---------- */

// Background gradient
@mixin background-gradient($top, $bottom) {
	background: $top;
	background: linear-gradient($top, $bottom);
}

/*
=====
-- Don't need this - Gulp AutoPrefixer should handle it --
=====

// Border radius
@mixin border-radius($radius) {
	border-radius: $radius;
}
*/

// Font smoothing
@mixin font-smoothing() {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

// Box sizing
@mixin box-sizing($type: border-box) {
	box-sizing: $type;
}

//Placeholder
@mixin placeholder {
	::-webkit-input-placeholder {@content}
	:-moz-placeholder {@content}
	::-moz-placeholder {@content}
	:-ms-input-placeholder {@content}  
}

// Clearfix
@mixin clearfix {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}