/* ---------- Variables ---------- */

// Fonts
$font-navigation: "MarkScWebPro", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-copy: "NeuzeitSLT", "Helvetica Neue", Helvetica, Arial, sans-serif;

// Colours
$color-button-gradient-top: #F5BF3D;
$color-button-gradient-bottom: #F4BB32;
$color-button-border: #F4BB32;
$color-primary-yellow: #F4B827;
$color-deep-yellow: #F7B92A;

// Breakpoints
$break-mobile: 700px;